@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:wght@100;300&family=Megrim&display=swap');

:root {
    font-size: 16px;
}

$mainBackground : #242424;

body {
    background-color: $mainBackground;
    color: #ffffff;
    overflow: hidden;
    height: 100vh;
    font-family: 'Lato';
}

main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

@mixin disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Caveat', cursive;
    scroll-snap-align: start;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

.hero-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .heading {
        font-size: 3.2rem;
        margin-bottom: 10px;
        .letter {
            display: inline-block;
            transform-origin: 0 0;
        }
    }

    .description {
        font-size: 2rem;
        display: inline-block;
        transform-origin: 0 0;
        opacity: 0;
    }

    .me {
        display: inline-block;
    }
}

.hero-image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-image {
        opacity: 0;
        width: 450px;
    }
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    height: 40px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;

    i {
        font-size: 10px;
    }
}

}

.about-section {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    scroll-snap-align: start;
animation: about-background-animation 5s linear infinite;
overflow: hidden;

.about-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: #e4e4e4;
    .heading {
        font-size: 5rem;
        font-family: 'Megrim', cursive;
        margin-bottom: 10px;
    }

    .description {
        font-size: 2rem;
        font-family: 'Lato';
    }
}

.resume-button {
    font-family: 'Lato';
    outline: none;
    border: none;        
    font-size: 25px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
    position: relative;
    z-index: 10;
    overflow: hidden;
    
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }

}

.resume-button::before {
    content: '';
    position: absolute;
    z-index: 0;    
    top: 0;
    background: linear-gradient(120deg, rgba(255,255,255,0), rgba(255,255,255,0.6),rgba(255,255,255,0) );
    width: 100%;
    height: 100%;
    left: -100%;
    transition: all 0.7s;
}

.resume-button:hover::before {
    left: 100%;
}

.about-section-backdrop {
    font-size: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Lato';
    opacity: 0.06;
    word-break: break-all;
    @include disable-select;
    animation: about-section-backdrop-animation 4.5s linear infinite;
}

}

.works-section {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
    .shapes {
        position: absolute;
    }

    .heading {
        font-size: 3rem;
        font-family: 'Lato';
    }

    .codepen-embed-body {
        .embed-nav, .embed-footer {
            display: none !important;
        }
        footer {
            display: none;
        }
    }

    .card {        
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(120deg, rgba(255,255,255,0.6),rgba(255,255,255,0.1) );
      border-radius: 10px;
      backdrop-filter: blur(3px);
      transition: all 1.5s;
      border: 1px solid rgba(255, 255, 255, 0.6);
      box-shadow: 0 8px 32px 0 rgba( 0,0,0, 0.37 );
      cursor: pointer;

      .icon {
          font-size: 60px;
          transition: all 0.7s;
      }

      .heading {
          font-size: 20px;
          font-weight: bold;
      }

    }

    .card:hover {
        background-size: 400%;
        background-position: 50% 50%;        
    }
    .npm:hover {
        .icon {
            color: #ff0000;
        }
    }
    .codepen:hover {
        .icon {
            color: #5A2566;
        }
    }
    .github:hover {
        .icon {
            color: #000000;
        }
    }
}

@media screen and (max-width: 475px) {
    :root {
        font-size: 10px;
    }
    .hero-section {
        .hero-text-container {
            text-align: center;
        }
        .scroll-down {
            bottom: 10%;
        }
        .hero-image-container {
            align-items: flex-start;
            .hero-image {
                width: 300px;
            }
        }
    }
}

@keyframes about-background-animation {
    0% {
        background:#00172D;
    }
    50% {
        background:#00264D;
    }
    100% {
        background:#00172D;
    }
}

@keyframes about-section-backdrop-animation {
    0% {
        transform: scale(1.0);
        opacity: 0;
    }

    50% {
        transform: scale(1.3);
        opacity: 0.06;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }

}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #11171a;
    border-radius: 10px;
  }